


:root {--primary-color: #white;
    --font-size: 16px;
    --text-color: #gray;
    
    
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



nav {display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;

}

ul {
    list-style-type: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo-container__content {
    margin: 0;
    padding-left: 10px;
}

h4 {
    font-size: xx-large;
    margin-bottom: 0;
    margin: 0;

}

.social-container {
    width: 250px;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.social-container__leftside {display: flex;
    justify-content: space-around;
    margin: auto;
}
.social-container__rightside {
    display: flex;
    margin: auto;
    
}

.break-line-img  {
    height: 4px;
    background-image: url(./img/hr-img.png);
    background-repeat: repeat-x;
    background-size: 1200px 4px;
}

main {
    width: 1200px;
    margin: auto;

}

.chocolate-pizza-container {
    display: flex;
    justify-content: space-between;
    
    

}

h1 {font-size: xx-large;
font-weight: bold;}

.chocolate-pizza-container__print {
    
    display: flex;
    align-items: end;
    justify-content: end;

}

.chocolate-pizza-container__print p {
    font-size: xx-small;
    opacity: 0.5;
    
}

.content {
    display: flex;
    flex-direction: column;
}
.content p {
    margin-top: 20px;
    padding-left: 10px;
    color: var(--text-color);
    opacity: 0.5;
}

form {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    background-image: url(./img/list-bg.png);
    margin-top: 20px;
    border-bottom: 1px solid black;
   

}

.author-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-details {
    display:flex;
    justify-content: center;
    align-items: center;

}

button {
    padding: 20px;
    background-color: brown;
    color: white;
    font-size: x-large;
    opacity: 0.8;
}



.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer__icon-container{

    padding-top: 15px;
    padding-bottom: 15px;
    

}

.footer > p {
    opacity: 0.5;
    padding: 2px;
}











